<% provide(:title, 'About') %>
<!DOCTYPE html>
<html>
<title> TODO | <%= yield(:title) %></title>
<body>
<h1> About </h1>
<p align="center">
	This is a rails application which the users can use to maintain a thier todo tasks. </p>
</body>
</html>
