<ul style="list-style-type:none;">
  <% @todolist_items.each do |p| %>
  <% if current_user?(p.user) %>
  	<div class="row"> 
  		<h4> <%= p.name %> </h4> 
  	</div>
  	<% p.tasks.each do |t| %> 
  		<%= render :partial => "shared/task_entry", :locals => {:t => t} %>
  	<% end %> 
  <% end %>
<% end %>

<style type="text/css">
.completed{
   color: grey;
   text-decoration: line-through;
 }

 .task_entry{
   padding: 5px;
 }
</style>

