<% class_name = "" %>
<% class_name += " completed" if t.completed %>
<li class="<%= class_name%>"> <%= check_box_tag  "tasks_checkbox[]",t.id, t.completed, {:class => "task_checkbox_class", :id => "task_#{t.id}"} %> <%= t.content %>  </li>